{% extends 'base.html' %}

{% block header %}
<div class="products-header">
    <div class="web-label">
        <h1> WeIn Shopping </h1>
    </div>
    <div class="nav-links">
        <a href="/"> Home </a>
        <a href="/products"> Shopping </a>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="home-container">
    <div class="colin-intro">
        <img src="/static/images/colin.jpg" width="200" />
        <h3> I'm Colin Campbell. I am apart of the NCB Agile Lab. And We're learning about again Web Development</h3>
        <h4> This is my website... We In. Because shein isn't. So we're doing without it</h4>
    </div>
</div>

{% endblock %}